#Tutorial
# ignore all .a files
#*.a
server/Libs/*.dll

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
#/TODO

# ignore all files in any directory named build
#build/

# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
#doc/**/*.pdf

# ignore all bin/ debug folder
bin/

Libs/

# ignore client App.config
**/*.config

# ignore client App.config
client/ESalePos/App.config

# Visual Studio 2015/2017 cache/options directory
.vs/

obj/
Quick Run/1. Build Register (as Administrator).bat
Quick Run/2. open eHcmsServices.sln.bat
Quick Run/3. open eHcmsReportService.sln.bat
Quick Run/4. open WcfServiceHost.sln.bat
Quick Run/5. open aEMR_Client.sln.bat
server/aEMRServices/CommonLib/ActiveX/AxClientLoggerInstaller/Debug/AxClientLoggerInstaller.msi
server/aEMRServices/CommonLib/ActiveX/AxClientLoggerInstaller/Debug/setup.exe
server/aEMRServices/CommonLib/ActiveX/AxPrintingInstaller/Debug/AxPrintingInstaller.msi
server/aEMRServices/CommonLib/ActiveX/AxPrintingInstaller/Debug/setup.exe
server/ServiceHost/eHCMSServices/eHCMSServices.csproj.user
